*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    background: #f4f4f4;
    scroll-behavior: smooth;
}

:root{
    scroll-behavior: smooth;
    --orange: #ff7143;
    --prim: #e98b9d;
    --background: #f9f8fe;

}


/* 
  Mobile First
    Navbar 
*/


.whatsapp{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    line-height: 60px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); 
    z-index: 100;
}

.whatsapp:hover{
    text-decoration: none;
    background-color: #fff;
    color: #0df053;
}

.nav{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}

.nav__decoration{
    display: flex;
    height: 40px;
    width: 100%;
    background: linear-gradient(90deg, #f3afbc 50%, #ffffff 50%);
    background-size: 2.5rem 100%;
    background-repeat: repeat;
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color:#ffb0be; */
    margin: 0 10px;
    background-color: #fff;
}

.nav__logo{
    width: 90px;
    height: 80px;
}

.nav__list{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--prim);
    padding: 80px 0;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2.5rem;
    list-style: none;
    transform: translate(-100%);
    transition: transform .3s;
}

.nav__list--show{
    transform: translate(0);
    z-index: 100;
}

.nav__link{
    text-decoration: none;
    color: white;
    font-weight: 500;
}


.nav__menu{
    background-color: var(--prim);
    border-radius: 5px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
}

.slider{
    width: 100%;
    max-width: 100vw;
    height: 390px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

    
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

/* Main
*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding-bottom: 30px;
    background-color: var(--background);
}

.main__text{
    margin-top: 20px;
    display: none;
}

.main__favoritos{
    margin-top: 5%;
}

.favoritos__img{
    margin-top: 0;
    width: 70%;
    height: auto;
}

.preferidos__grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    margin: 8% 3%;
    column-gap: 15px;
    row-gap: 25px;
    align-items: center;
}
.preferidos__anchor{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.preferidos__titulo{
    color: #8f6a2a;
    font-size: 15px;
    font-weight: 800;
}

.preferidos__precio{
    letter-spacing: 2px;
    border: 1px solid #8f6a2a;
    width: 100%;
    color: #8f6a2a;
}

.preferidos__seleccionar{
    letter-spacing: 2.5px;
    color: #fff;
    background-color: #8f6a2a;
    padding: 8px;
    width: 100%;
    font-size: 10px;
}

.preferidos__img{
    width: 100%;
    border-radius: 4px;
}


/* 
    Footer
*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--prim);
    color: #fff1a1;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 3% 10%;
}

.footer__title{
    font-weight: 500;
    border-bottom: 3px dotted #fff1a1;
    padding: 20px 0;
    width: 100%;
}


.contacto__title{
    text-align: center;
    margin: 30px 0 20px 0;
}

.contactanos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;  
}

.container-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.redes__title{
    text-align: center;
    margin: 30px 0 10px 0;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.redes__icon{
    margin-top: 10px;
    font-size: 30px;
    color: #fff1a1;
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__end{
    width: 100%;
    margin: 35px 0;
    border-top: 2px solid #fff1a1;
}

.creator-text{
    margin: 10px;
    font-weight: 400;
}

.nerk{
    font-weight: 600;
    color: #905656;
}

.footer__start{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0;
}

@media (min-width: 768px){

    body{
        overflow-x: hidden;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    .nav__menu{
        display: none;
    }

    .nav{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 100;
    }

/*
    .nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: fixed;
        margin: 0;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
*/



    .nav__container{
        width: 100%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .nav__list{ 
        position: static;
        background-color: transparent;
        padding: 0;
        display: flex;
        gap: 2.5rem;
        list-style: none;
        transform: unset;
        transition: none;
    }

    .nav__list--show{
        transform: unset;
    }

    .nav__link{
        color:var(--prim);
        font-weight: 500;
        font-size: 17px;
        position: relative;
        transition: all 0.4s;
    }

    .nav__link:hover{
        color: #e98b9d;
    }

    .nav__link:after{
        content: '';
        height: 2px;
        width: 100%;
        background: #e98b9d;
        position: absolute;
        left: 0;
        bottom: -8px;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
    }

    .nav__link:hover:after{
        opacity: 1;
    }

    
    .slider{
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 140px);
        margin: auto;
        margin-top: 140px;
        position: relative;
        overflow: hidden;
    }
    .slider .list img{
        width: 100vw;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .slider .buttons button{
        cursor: pointer;
    }
    .slider .dots li{
        cursor: pointer;
    }

    .preferidos__grid{
        grid-template-columns: repeat(4,minmax(50px,1fr));
        justify-content: space-evenly;
        gap: 70px;
    }


    .redes__icon{
        transition: all 0.3s;
    }

    .redes__icon:hover{
        transform: scale(1.2);
    }

    .footer__start{
        flex-direction: row;
        justify-content: space-evenly;
    }
}